//PC
.PC-footer{
    width: 100%;
    position: relative;
    background-color: #d9e0e9;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top{
    display: grid;
    grid-template-columns: 130px 110px;
    grid-template-rows: 45px 46px;
    padding-top: 42px;
    padding-left: 340px;
    padding-right: 380px;
    justify-content: space-between;
}

.pc-left-box{
    display: grid;
    gap: 27px;
}

.pc-right-box{
    display: grid;
    gap: 12px;
}
.about{
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: right;
    mix-blend-mode: normal;
}

.list{
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 300;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: right;
    mix-blend-mode: normal;
    display: grid;
    gap: 15px;
}


.logo-text{
    width: 131.9px;
    position: relative;
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: left;
}

.bottom{
    height: 90px;
    padding: 0px 60px 0px 60px;
}

.noti{
    border-top: 1px solid rgba(72, 98, 132, 0.16);
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 200;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: left;
    mix-blend-mode: normal;
    padding-top: 35px;
}

//모바일
.Mob-footer{
    height: 140px;
    padding: 30px 20px 0px 20px;
    background-color: #d3dce7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Mob-footer-logo{
    width: 50px;
    height: 14.5px;
}
.Mob-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    text-align: left;
}
.Mob-contact{
    font-size: 13px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-family: 'Pretendard Variable';
    color: #1a202c;
}

.Mob-noti{
    position: relative;
    font-size: 11px;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: left;
}