/* 
    scss는 기본적으로 css와 같습니다. 그러나 밑에 서술한
    기능들을 추가로 이용할 수 있어 사용합니다. 필요한 경우
    사용하시면 되겠습니다.


    nesting 예시
    div.container{
    h4{
        color
    }

    p{
        color
    }

    @extend => 복붙하지 말고

    함수는
    @mixin function{
    }
    사용은
    @include function()

    변수 저장은
    $main : #ffff;
*/

.Home-PC{
    height: 100vh;
    margin: 0;
    background: radial-gradient(50% 50% at 50% 50%, #cfecd4, rgba(255, 255, 255, 0)), 
                radial-gradient(50% 50% at 50% 50%, #fffada, rgba(255, 255, 255, 0)), 
                #ced7e4;
    background-size: 200% 200%; /* 배경 크기 초기 설정 */
    background-position: 0% 0%; /* 배경 위치 초기 설정 */
    animation: gradientAnimation 10s ease infinite; /* 애니메이션 적용 */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.PC-Main{
    display: flex;
    justify-content: center;
}

.Mob-Main{
    height: 815px;
    margin: 0;
    background: 
                linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%),
                radial-gradient(50% 50% at 50% 50%, #cfecd4, rgba(255, 255, 255, 0)), 
                radial-gradient(50% 50% at 50% 50%, #fffada, rgba(255, 255, 255, 0)), 
                #ced7e4;
    background-size: 200% 200%; /* 배경 크기 초기 설정 */
    background-position: 0% 0%; /* 배경 위치 초기 설정 */
    animation: gradientAnimation 10s ease infinite; /* 애니메이션 적용 */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Mob-Main-inline{
    display: flex;
    justify-content: flex-start;
    padding-right: 24px;
    padding-left: 24px;
}
.Mob-text-wrapper{
    font-family: 'Pretendard Variable';
    gap: 8px;
    display: grid;
    grid-template-rows: 24px 84px 45px;
}

.Mob-head-sub{
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: left;
    display: inline-block;
}

.Mob-head-wrapper{
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: locus_sangsang;
    color: #1a202c;
    text-align: left;
    display: grid;
    grid-template-rows: 20px 20px 20px;
    gap: 8px;
}

.Mob-sub{
    font-size: 10px;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: left;
}

.Mob-FAQ{
    height: 800px;
    padding: 150px 20px 0px 20px;
    background: linear-gradient(180deg, #fafbfd, #fff);
}

.Mob-FAQ-inline{
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.FAQ-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FAQ-title-head{
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
}

.FAQ-title-sub{
    font-size: 12px;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
}

.FAQ-item{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(72, 98, 132, 0.5);
}

.Q{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;

    font-size: 13px;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #1a202c;
    text-align: left;
}

.Q-arrow{
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.Q-arrow.rotate{
    transform: rotate(180deg);
}

.A{
    font-size: 12px;
    line-height: 150%;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: left;
    padding-bottom: 20px;
}

.Achieve{
    height: 322px;
}

.Achieve-Head{
    font-size: 15px;
    line-height: 50px;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
}

.Achieve-Sub{
    font-size: 12px;
    line-height: 150%;
    font-weight: 300;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67px;

}

.tile{
    width: 300px;
    height: 153px;
}
.tile-head{
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
}
.tile-sub{
    font-size: 16px;
    line-height: 30px;
    font-family: 'Pretendard Variable';
    color: #486284;
    text-align: center;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}